@import "src/assets/variables";

.sign {
  background: $basic_color;
  height: 100vh;
  position: relative;

  mat-card {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    padding: 65px;
    text-align: center;
    z-index: 999;

    mat-card-header {
      justify-content: center;
    }

    mat-card-title {
      font-size: 30px !important;
      font-family: sans-serif !important;

    }
  }

  a {
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    margin-top: 40px;
  }

  &_logo {
    img:nth-child(2) {
      position: absolute;
      right: 26%;
      top: 50%;
    }

    img:nth-child(1) {
      position: absolute;
      left: 26%;
      top:35%;
    }

  }
}






